@model AppUser
@{
    Layout = "_AdminLayout";
}

<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="UserName"></label>
        <div><span asp-validation-for="UserName" class="text-danger"></span></div>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <input asp-for="Email" class="form-control" type="email" />
    </div>
    <div class="form-group">
        <label asp-for="TempPassword"></label>
        <input asp-for="TempPassword" class="form-control" type="password" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MiddleName"></label>
        <input asp-for="MiddleName" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <a asp-action="UsersList" class="btn btn-secondary">Отмена</a>
    </div>
</form>
