<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
</head>
<body class="m-1 p-1">
    <div class="navbar navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand" href="/">ADMIN - @ViewBag.Title</a>
        <div class="p-2 row">
            <div class="float-right">
                @if (User.Identity.IsAuthenticated) {
                <a class="btn btn-outline-primary" asp-action="Logout" asp-controller="Account">Выход</a>
                }
            </div>
        </div>
    </div>
    <div class="m-1 p-3">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Authors">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Genre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
            </li>
            @if (User.IsInRole("administrator"))
            {
            <li class="nav-item">
                <a class="nav-link" asp-action="UsersList">Users</a>
            </li>
            }
        </ul>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @RenderBody()
</body>
</html>
