@model IEnumerable<IdentityRole>

@foreach (var role in Model)
{
<ul class="d-inline-block list-unstyled">
    <li class="mr-4">
        <input type="checkbox" name="role" id="role" value=@role /> @role
    </li>
</ul>
}