@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>Error</title>
</head>
<body>
    <h2 class="text-danger">ERROR</h2>
    <div>@TempData["errorMsg"]</div>
</body>
</html>
